*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Poppins",sans-serif;
}


body{

height:100vh;
width:100%;

overflow:hidden;

display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(
135deg,
#ffe0ec,
#fff7fb
);

transition:2s;

}



/* Animated background glow */

#heartBackground{

position:absolute;

width:100%;
height:100%;

background:

radial-gradient(
circle,
rgba(255,80,160,.35),
transparent 55%
);

animation:

backgroundPulse 5s infinite;

}



@keyframes backgroundPulse{


50%{

transform:scale(1.15);

}


}




/* Canvas */


#heartCanvas{

position:absolute;

width:100%;
height:100%;

}




/* Heart message */


#message{

position:absolute;

z-index:5;


font-size:45px;

font-weight:700;


color:#ff4f9a;


opacity:0;


transform:

scale(.5);


text-shadow:

0 0 15px #ff8bc2,
0 0 35px #ff5fa8;



}



#message.show{


animation:

textAppear 2s forwards;


}



@keyframes textAppear{


to{

opacity:1;

transform:scale(1);

}


}



/* Heart glow pulse */


.heartGlow{


animation:

heartBeat 1.5s infinite;


}



@keyframes heartBeat{


0%{

filter:
drop-shadow(
0 0 10px pink
);


}


50%{


filter:

drop-shadow(
0 0 40px hotpink
);


}


100%{


filter:

drop-shadow(
0 0 10px pink
);


}



}



/* Sparkle style */


.sparkle{


position:absolute;


width:5px;

height:5px;


border-radius:50%;


background:#ff9ac9;


box-shadow:

0 0 20px #ff4f9a;


animation:

sparkleFloat 5s linear infinite;


}



@keyframes sparkleFloat{


from{

transform:

translateY(100vh);

}


to{

transform:

translateY(-20vh);

}


}




/* Night mode */


body.night{


background:

linear-gradient(
135deg,
#14001f,
#420044
);


}



body.night #heartBackground{


background:

radial-gradient(
circle,
rgba(255,0,150,.2),
transparent 60%
);


}




@media(max-width:600px){


#message{

font-size:28px;

}


}
#heartCanvas{

animation:

heartBreath 3s infinite;

}



@keyframes heartBreath{


0%{

transform:scale(1);

}


50%{

transform:scale(1.04);

}


100%{

transform:scale(1);

}


}



#message{

letter-spacing:2px;

}



#particleText{

animation:

glowText 2s infinite alternate;

}



@keyframes glowText{


from{

text-shadow:

0 0 10px pink;

}


to{

text-shadow:

0 0 40px hotpink;

}


}
.petal{


position:absolute;


top:-20px;


width:14px;

height:20px;


background:#ff9fc9;


border-radius:

100% 0 100% 0;


opacity:.8;


animation:

petalFall linear infinite;


}



@keyframes petalFall{


to{


transform:

translateY(110vh)
rotate(360deg);


}


  }
